img.char{
    width: 18%;
    display: inline-block;
    margin:auto;
}

span.underline{
    border-top: 5px solid #dc3545;
    color: #fff;
    margin: 0 auto;
}

span.underline-tool{
    border-top: 5px solid #3c3c3c;
    color: #fff;
    margin: 0 auto;
}


h2 i{
    font-size: 50% !important;

}

.border-light{
    border-radius: 20px !important;
}

li a span{
    color: white !important;
}

.card-body-bg{
    background-image: url('../assets/img/illustrations/bg.svg');
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 726px){
    img.char{
        width: 20%;
    }
}
img.board {
    width: 120px;
    margin-bottom: 10px;
    margin-top: 10px;
}

footer{
    background: #3C3C3C;
    color: white !important;
}

.footer ul.footer-links li a{
    color: white !important;
}

.text-white{
    color: white !important;
}

.fa-chevron-up:before{
    color: #3C3C3C;
}

.headroom--not-top.navbar-theme-secondary {
    background-color: #3C3C3C !important;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}

.card-t{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #ffffff;
    background-clip: border-box;
    border: 0.0625rem solid rgba(23, 31, 56, 0.125);
    min-height: 350px;
}

h2#number{
    font-weight: 800;
}

.text-grey{
    color: #3C3C3C !important;
}

/* =============== */
/* class names are listed & arranged as follows */
/* one word => full name */
/* two words => first letter of each word */
/* three words => first letter of each word */
/* "&" and "and" are listed as "n"*/

.badge-environment{
    background: #2ECC71;
}

.badge-perspective{
    background: #9B59B6;
}

.badge-technical{
    background: #2ECC71;
}

.badge-podcast{
    background: #F1C40F;
    color: #222222;

}

.badge-covid{
    background: #C0392B;
}

.badge-interview{
    background: #1ABC9C;
}

.badge-oa{
    background: #3498DB;
}

.badge-cb{
    background: #E67E22;
}

.badge-ge{
    background: #E74C3C;
}

.badge-ane{
    background: #95A5A6;
    color: #222222;
}

.badge-dnm{
    background: #34495E;
}

.badge-mib{
    background: #8E44AD;
}

.badge-enl{
    background: #2980B9;
}

.badge-hnw{
    background: #16A085;
}

.badge-rng{
    background: #2C3E50;
}

/* =============== */

.btn-grey{
    background: #3C3C3C;
    color: white;
}

.btn-grey:hover{
    background: #8e8e8e;
    color: white;

}

div.title{
    height: 110px;
}

div.description{
    height: 330px;
}