.btn-red{
    background: #e20817;
    color: white;
    font-family: Raleway;
    border-radius: 10px;
    outline : none;
    border : none;
    margin: 0 auto;
}

.btn-green:hover a, .btn-green a :clicked{
    outline: none;
    color: red;
}

/* .carousel{
    border: 2px solid blue;
    height: 50%;
} */

div.carousel div img{
    height: 100%;
    width: 80%;
    margin: 0 auto;

}
/* 
@media (min-width: 1601px){
    div.carousel div img{
    }
} */

.carousel-description{
    width: 80%;
    margin: 0 auto;
}