@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;800&display=swap');


.custom-title-font{
    font-family: Raleway;
    font-weight: 800;
    color: #222222;
    text-align: center !important;
    font-size: 40px;
}

.custom-title-font-r{
    font-family: Raleway;
    font-weight: 800;
    color: #e20817;
    text-align: center !important;
    font-size: 40px;
}

span.red{
    color: #e20817;
    font-size: 20px;
}