@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600;800&display=swap');
.custom-title-font{
    font-family: Rubik;
    font-weight: 500;
    color: #222222;
    text-align: center !important;
    font-size: 40px;
}

p{
    font-family: Rubik;
    text-align: center;
}

.card-name{
    height: 50px;
    margin-top: 15px;
    font-weight: 700;
    padding-top: 5px;
    width: 70%;
    color: #fff;
    letter-spacing: 1.54px;
    border-radius: 25px;
    background-color: #BA262B;
}



.custom-card-font{
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: .688rem;
    line-height: 18px;
    font-weight: 800;
    color: #fff;
    text-align: center !important;
    margin-top: 10px;
}

.custom-we-font{
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 50px;
    font-weight: 800;
    color: #222222;
    text-align: center !important;
    margin-top: 50px;
}

.custom-action-font{
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 18px;
    font-weight: 800;
    color: #e20817;
    text-align: center !important;
    margin-top: 10px;
}


.custom-tfg-font{
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 18px;
    font-weight: 800;
    color: #222222;
    text-align: center !important;
    margin-top: 10px;
}


.custom-title-font-r{
    font-family: Rubik;
    font-weight: 800;
    color: #e20817;
    text-align: center !important;
    font-size: 40px;
}

span.red{
    color: #e20817;
    font-size: 20px;
}

span.underline{
    border-top: 5px solid #e20817;
    color: #fff;
    margin: 0 auto;
}